# Configuración de Aplicación
PORT=3000
NODE_ENV=development
TZ=America/Lima

# Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=secret
DB_NAME=prestamos_db

# Seguridad y Autenticación
JWT_SECRET=tu_secreto_super_seguro_aqui_no_usar_el_de_ejemplo
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=60

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
SYSTEM_DOMAIN=localhost
